# Eclipse
.classpath
.project
.metadata/
.settings/
RemoteSystemsTempFiles/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# 
tomcat-9.0/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


